footer, footer ul, footer p, .social-icons {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

footer {
    background: #2c3e43;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .social-icons a {
    color: #28a745;
    font-size: 1.5rem;
    margin: 0 10px;
}
